@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark, cupcake, synthwave, retro, cyberpunk, valentine, aqua, night, dracula, autumn, business, coffee, emerald, forest, luxury, pastel, wireframe, nord --all;
}

/* Scrollbar hide utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}